.account {
  padding: rem(10) rem(20);
  display: flex;
  gap: rem(50);

  &_img {
    width: rem(300);
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &_info {
    flex: 1;

    h3 {
      color: var(--white);
      font-size: rem(44);
      margin-bottom: rem(20);
    }

    p {
      font-size: rem(20);
    }

    p:not(:last-child) {
      margin-bottom: rem(10);
    }

    p:last-of-type {
      margin-bottom: rem(40);
    }

    button {
    background-color: var(--elem-bg);
    font-size: rem(24);
    border: 1px solid var(--green);
    color: var(--white);
    padding: rem(10) rem(20);
    border-radius: rem(5);
    cursor: pointer;

    &:hover {
     color: var(--green);
    }
  }
  }
}
